dist: xenial   # required for Python >= 3.7
language: python
python:
  - "3.6"
  - "3.7"
install:
  - pip install -r requirements.txt
script:
  - cd $TRAVIS_BUILD_DIR/tests/dataprep
  - coverage run -m unittest discover -v -s "tests" -p "*.py"
  - coverage report -m
  - coverage xml -i
