appdirs==1.4.3
coverage==4.5.3
dill==0.2.9
docopt==0.6.2
docopt-subcommands==3.0.0
jsons==0.8.3
matplotlib==3.0.3
nltk==3.4.4
Pygments==2.3.1
PyYAML==5.1
regex==2019.3.12
tqdm==4.31.1
git+https://github.com/casics/spiral.git
